@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-4">
    <h1 class="display-4">Welcome to Pizzeria Moschini!</h1>
    <p class="lead">Experience the best pizza in town with the finest ingredients and authentic recipes</p>
</div>

@if (User.IsInRole("Admin"))
{
    // Check if user is Admin
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-3 text-center">
                <a class="btn btn-primary btn-lg mb-3 w-100" href="@Url.Action("Index", "Tables")">
                    Tables
                </a>
            </div>
            <div class="col-md-3 text-center">
                <a class="btn btn-primary btn-lg mb-3 w-100" href="@Url.Action("Index", "Reservations")">
                    Reservations
                </a>
            </div>
            <div class="col-md-3 text-center">
                <a class="btn btn-primary btn-lg mb-3 w-100" href="@Url.Action("Index", "Staffs")">
                    Staff
                </a>
            </div>
            <div class="col-md-3 text-center">
                <a class="btn btn-primary btn-lg mb-3 w-100" href="@Url.Action("Index", "Customers")">
                    Customers
                </a>
            </div>
        </div>
    </div>
}
else if (User.IsInRole("Staff"))
{
    // Check if user is Staff
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <a class="btn btn-primary btn-lg mb-3 w-100" href="@Url.Action("Index", "Tables")">
                    Tables
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a class="btn btn-primary btn-lg mb-3 w-100" href="@Url.Action("Index", "Reservations")">
                    Reservations
                </a>
            </div>
        </div>
    </div>
}
else
{
    // User is Customer
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <a class="btn btn-primary btn-lg mb-3 w-100" href="@Url.Action("Create", "Reservations")">
                    Make a Reservation
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a class="btn btn-primary btn-lg mb-3 w-100" href="@Url.Action("Index", "Reservations")">
                    Manage Reservations
                </a>
            </div>
        </div>
    </div>
}
