@model PizzeriaMoschini.Models.Reservation

@{
    ViewData["Title"] = "Details";
    bool isAdmin = ViewData["IsAdmin"] != null && (bool)ViewData["IsAdmin"];
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSlot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeSlot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfGuests)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfGuests)
        </dd>

        @if (isAdmin)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.Phone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Table)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Table.TableID)
            </dd>
        }

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReservationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
